/* COMMON */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@700&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Anton', 'Roboto', sans-serif;
}   


/* SPECIFIC */
#main {

}

#header {
    height: 64px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#header .header-logo .header-logo-img {
    height: 64px;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}

#header .header-logo .header-logo-img:hover {
    cursor: grab;
}

#banner {
    position: relative;
    /* margin-top: 70px; */
    min-height: 100vh;
    background: url(./image/pexels-pixabay-247791.jpg) top center / cover no-repeat;
}

#banner .banner-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

#banner .banner-context {
    height: 100vh;
    position: absolute;
    padding: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

#banner .banner-context .banner-heading {
    font-family: 'Anton';
    color: rgba(255, 255, 255, 0.85);
    font-size: 4rem;
    letter-spacing: 0.6px;

    transform: translateY(-50%);
}

#banner .banner-context .banner-logo-img {
    width: 25%;
}

#banner .banner-context .banner-title {
    font-family: 'Anton';
    color: rgba(255, 255, 255, 0.85);
    font-size: 6rem;
    letter-spacing: 0.6px;
}

#redirect {
    width: 100vw;
    height: 100vh;
    background: url(./image/pexels-cottonbro-studio-5473337.png) top center / cover no-repeat;
    padding: 14% 0 0;
}


#redirect .redirect-container {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}

#redirect .redirect-container .redirect-title {
    font-style: italic;
    font-size: 5rem;
    text-align: center;
    letter-spacing: 4px;
    color: white;

    margin-bottom: 8rem;

}

#redirect .redirect-container .redirect-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#redirect .redirect-link .fe-button {
    background-color: rgb(208, 168, 92);
    padding: 1.4rem 3rem 1.4rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.4px;
    text-shadow: 0px 0px 2px #000000;
    color: white;
    border: none;
}

#redirect .redirect-link .fe-button:hover {
    cursor: grab;
    background-color: rgb(207, 177, 121);

}

#redirect .redirect-link .be-button {
    background-color: rgb(11, 198, 227);
    padding: 1.4rem 3rem 1.4rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.4px;
    text-shadow: 0px 0px 2px #292828;
    border: none;
}

#redirect .redirect-link .be-button:hover {
    background-color: rgb(97, 200, 216);
    cursor: grab;
}
